@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700);
@import url(bootstrap.min.css);
/* line 5, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../scss/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
}

/* line 16, ../scss/main.scss */
html {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
}
/* line 22, ../scss/main.scss */
html body {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
}
/* line 34, ../scss/main.scss */
html body .theBox.red {
  width: 100%;
  height: 100%;
  background-color: #FAFFFE;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 44, ../scss/main.scss */
html body .theBox.red .smallBox {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 51, ../scss/main.scss */
html body .theBox.red .smallBox:after {
  content: 'base';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  /* line 44, ../scss/main.scss */
  html body .theBox.red .smallBox {
    background-color: blue;
  }
  /* line 58, ../scss/main.scss */
  html body .theBox.red .smallBox:after {
    content: 'small';
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 44, ../scss/main.scss */
  html body .theBox.red .smallBox {
    background-color: yellow;
  }
  /* line 59, ../scss/main.scss */
  html body .theBox.red .smallBox:after {
    content: 'medium';
  }
}
@media only screen and (min-width: 1300px) {
  /* line 44, ../scss/main.scss */
  html body .theBox.red .smallBox {
    background-color: red;
  }
  /* line 60, ../scss/main.scss */
  html body .theBox.red .smallBox:after {
    content: 'big';
  }
}
/* line 63, ../scss/main.scss */
html body .theBox.red .headerBox {
  width: 500px;
  margin: 10px;
  background-color: #fff;
  display: flex;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 63, ../scss/main.scss */
  html body .theBox.red .headerBox {
    width: 90vw;
    flex-direction: column;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 63, ../scss/main.scss */
  html body .theBox.red .headerBox {
    width: 815px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 63, ../scss/main.scss */
  html body .theBox.red .headerBox {
    width: 1015px;
    flex-direction: row;
  }
}
/* line 76, ../scss/main.scss */
html body .theBox.red .headerBox .nameBox {
  border: 2px solid #B0F0EA;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 76, ../scss/main.scss */
  html body .theBox.red .headerBox .nameBox {
    width: 90vw;
    height: 100px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 76, ../scss/main.scss */
  html body .theBox.red .headerBox .nameBox {
    width: 320px;
    height: 100px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 76, ../scss/main.scss */
  html body .theBox.red .headerBox .nameBox {
    width: 320px;
    height: 100px;
  }
}
/* line 85, ../scss/main.scss */
html body .theBox.red .headerBox .nameBox .name {
  width: 100%;
  height: 70%;
  border-bottom: 2px solid #B0F0EA;
}
/* line 90, ../scss/main.scss */
html body .theBox.red .headerBox .nameBox .title {
  width: 100%;
  height: 30%;
}
/* line 95, ../scss/main.scss */
html body .theBox.red .headerBox .descriptionBox {
  border-top: 2px solid #B0F0EA;
  border-right: 2px solid #B0F0EA;
  border-bottom: 2px solid #B0F0EA;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 95, ../scss/main.scss */
  html body .theBox.red .headerBox .descriptionBox {
    width: 90vw;
    height: 100px;
    border-top: 0px;
    border-left: 2px solid #B0F0EA;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 95, ../scss/main.scss */
  html body .theBox.red .headerBox .descriptionBox {
    width: 495px;
    height: 100px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 95, ../scss/main.scss */
  html body .theBox.red .headerBox .descriptionBox {
    width: 695px;
    height: 100px;
  }
}
/* line 108, ../scss/main.scss */
html body .theBox.red .contentBox {
  display: flex;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 108, ../scss/main.scss */
  html body .theBox.red .contentBox {
    width: 90vw;
    flex-direction: column;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 108, ../scss/main.scss */
  html body .theBox.red .contentBox {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 108, ../scss/main.scss */
  html body .theBox.red .contentBox {
    flex-direction: row;
  }
}
/* line 122, ../scss/main.scss */
html body .theBox.red .contentBox .infoBox {
  margin-right: 15px;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 122, ../scss/main.scss */
  html body .theBox.red .contentBox .infoBox {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 122, ../scss/main.scss */
  html body .theBox.red .contentBox .infoBox {
    width: 320px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 122, ../scss/main.scss */
  html body .theBox.red .contentBox .infoBox {
    width: 320px;
  }
}
/* line 133, ../scss/main.scss */
html body .theBox.red .contentBox .infoBox .infoItem {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #fff;
  transition: all 0.5s linear;
}
/* line 142, ../scss/main.scss */
html body .theBox.red .contentBox .infoBox .infoItem .infoItemHeading {
  position: relative;
  height: 30px;
  cursor: pointer;
  border: 2px solid #B0F0EA;
}
/* line 148, ../scss/main.scss */
html body .theBox.red .contentBox .infoBox .infoItem .infoItemHeading .infoItemTitle {
  font-family: 'source code pro';
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  top: 1px;
  left: 12px;
  color: #A7EAE4;
}
/* line 157, ../scss/main.scss */
html body .theBox.red .contentBox .infoBox .infoItem .infoItemHeading .infoItemHandle {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #A7EAE4;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
/* line 166, ../scss/main.scss */
html body .theBox.red .contentBox .infoBox .infoItem .infoItemHeading .infoItemHandle:after {
  content: '';
  width: 2px;
  height: 16px;
  position: absolute;
  top: -7px;
  left: 7px;
  background: #A7EAE4;
  transform: rotate(0);
  transition: all 0.1s ease-in-out;
}
/* line 179, ../scss/main.scss */
html body .theBox.red .contentBox .infoBox .infoItem .infoItemHeading.active .infoItemHandle:after {
  transform: rotate(90deg);
}
/* line 181, ../scss/main.scss */
html body .theBox.red .contentBox .infoBox .infoItem .infoItemBody {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
  border-left: 2px solid #B0F0EA;
  border-right: 2px solid #B0F0EA;
}
/* line 192, ../scss/main.scss */
html body .theBox.red .contentBox .infoBox .infoItem .infoItemHeading.active ~ .infoItemBody {
  height: auto;
  opacity: 1;
  visibility: visible;
  border-bottom: 2px solid #B0F0EA;
}
/* line 200, ../scss/main.scss */
html body .theBox.red .contentBox .workBox {
  height: 100%;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 200, ../scss/main.scss */
  html body .theBox.red .contentBox .workBox {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 200, ../scss/main.scss */
  html body .theBox.red .contentBox .workBox {
    width: 480px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 200, ../scss/main.scss */
  html body .theBox.red .contentBox .workBox {
    width: 680px;
  }
}
/* line 210, ../scss/main.scss */
html body .theBox.red .contentBox .workBox .workItem {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  border: 2px solid #B0F0EA;
  background-color: #fff;
  transition: all 0.5s linear;
}
/* line 220, ../scss/main.scss */
html body .theBox.red .contentBox .workBox .workItem .workItemHeading {
  position: relative;
  height: 30px;
  cursor: pointer;
}
/* line 224, ../scss/main.scss */
html body .theBox.red .contentBox .workBox .workItem .workItemHeading.active {
  border-bottom: 2px solid #B0F0EA;
}
/* line 226, ../scss/main.scss */
html body .theBox.red .contentBox .workBox .workItem .workItemBody {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
}
/* line 234, ../scss/main.scss */
html body .theBox.red .contentBox .workBox .workItem .workItemHeading.active ~ .workItemBody {
  height: auto;
  opacity: 1;
  visibility: visible;
}
/* line 34, ../scss/main.scss */
html body .theBox.yellow {
  width: 100%;
  height: 100%;
  background-color: #FAFFFE;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 44, ../scss/main.scss */
html body .theBox.yellow .smallBox {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 51, ../scss/main.scss */
html body .theBox.yellow .smallBox:after {
  content: 'base';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  /* line 44, ../scss/main.scss */
  html body .theBox.yellow .smallBox {
    background-color: blue;
  }
  /* line 58, ../scss/main.scss */
  html body .theBox.yellow .smallBox:after {
    content: 'small';
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 44, ../scss/main.scss */
  html body .theBox.yellow .smallBox {
    background-color: yellow;
  }
  /* line 59, ../scss/main.scss */
  html body .theBox.yellow .smallBox:after {
    content: 'medium';
  }
}
@media only screen and (min-width: 1300px) {
  /* line 44, ../scss/main.scss */
  html body .theBox.yellow .smallBox {
    background-color: red;
  }
  /* line 60, ../scss/main.scss */
  html body .theBox.yellow .smallBox:after {
    content: 'big';
  }
}
/* line 63, ../scss/main.scss */
html body .theBox.yellow .headerBox {
  width: 500px;
  margin: 10px;
  background-color: #fff;
  display: flex;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 63, ../scss/main.scss */
  html body .theBox.yellow .headerBox {
    width: 90vw;
    flex-direction: column;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 63, ../scss/main.scss */
  html body .theBox.yellow .headerBox {
    width: 815px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 63, ../scss/main.scss */
  html body .theBox.yellow .headerBox {
    width: 1015px;
    flex-direction: row;
  }
}
/* line 76, ../scss/main.scss */
html body .theBox.yellow .headerBox .nameBox {
  border: 2px solid;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 76, ../scss/main.scss */
  html body .theBox.yellow .headerBox .nameBox {
    width: 90vw;
    height: 100px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 76, ../scss/main.scss */
  html body .theBox.yellow .headerBox .nameBox {
    width: 320px;
    height: 100px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 76, ../scss/main.scss */
  html body .theBox.yellow .headerBox .nameBox {
    width: 320px;
    height: 100px;
  }
}
/* line 85, ../scss/main.scss */
html body .theBox.yellow .headerBox .nameBox .name {
  width: 100%;
  height: 70%;
  border-bottom: 2px solid;
}
/* line 90, ../scss/main.scss */
html body .theBox.yellow .headerBox .nameBox .title {
  width: 100%;
  height: 30%;
}
/* line 95, ../scss/main.scss */
html body .theBox.yellow .headerBox .descriptionBox {
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 95, ../scss/main.scss */
  html body .theBox.yellow .headerBox .descriptionBox {
    width: 90vw;
    height: 100px;
    border-top: 0px;
    border-left: 2px solid;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 95, ../scss/main.scss */
  html body .theBox.yellow .headerBox .descriptionBox {
    width: 495px;
    height: 100px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 95, ../scss/main.scss */
  html body .theBox.yellow .headerBox .descriptionBox {
    width: 695px;
    height: 100px;
  }
}
/* line 108, ../scss/main.scss */
html body .theBox.yellow .contentBox {
  display: flex;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 108, ../scss/main.scss */
  html body .theBox.yellow .contentBox {
    width: 90vw;
    flex-direction: column;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 108, ../scss/main.scss */
  html body .theBox.yellow .contentBox {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 108, ../scss/main.scss */
  html body .theBox.yellow .contentBox {
    flex-direction: row;
  }
}
/* line 122, ../scss/main.scss */
html body .theBox.yellow .contentBox .infoBox {
  margin-right: 15px;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 122, ../scss/main.scss */
  html body .theBox.yellow .contentBox .infoBox {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 122, ../scss/main.scss */
  html body .theBox.yellow .contentBox .infoBox {
    width: 320px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 122, ../scss/main.scss */
  html body .theBox.yellow .contentBox .infoBox {
    width: 320px;
  }
}
/* line 133, ../scss/main.scss */
html body .theBox.yellow .contentBox .infoBox .infoItem {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #fff;
  transition: all 0.5s linear;
}
/* line 142, ../scss/main.scss */
html body .theBox.yellow .contentBox .infoBox .infoItem .infoItemHeading {
  position: relative;
  height: 30px;
  cursor: pointer;
  border: 2px solid;
}
/* line 148, ../scss/main.scss */
html body .theBox.yellow .contentBox .infoBox .infoItem .infoItemHeading .infoItemTitle {
  font-family: 'source code pro';
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  top: 1px;
  left: 12px;
}
/* line 157, ../scss/main.scss */
html body .theBox.yellow .contentBox .infoBox .infoItem .infoItemHeading .infoItemHandle {
  position: absolute;
  width: 16px;
  height: 2px;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
/* line 166, ../scss/main.scss */
html body .theBox.yellow .contentBox .infoBox .infoItem .infoItemHeading .infoItemHandle:after {
  content: '';
  width: 2px;
  height: 16px;
  position: absolute;
  top: -7px;
  left: 7px;
  transform: rotate(0);
  transition: all 0.1s ease-in-out;
}
/* line 179, ../scss/main.scss */
html body .theBox.yellow .contentBox .infoBox .infoItem .infoItemHeading.active .infoItemHandle:after {
  transform: rotate(90deg);
}
/* line 181, ../scss/main.scss */
html body .theBox.yellow .contentBox .infoBox .infoItem .infoItemBody {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
  border-left: 2px solid;
  border-right: 2px solid;
}
/* line 192, ../scss/main.scss */
html body .theBox.yellow .contentBox .infoBox .infoItem .infoItemHeading.active ~ .infoItemBody {
  height: auto;
  opacity: 1;
  visibility: visible;
  border-bottom: 2px solid;
}
/* line 200, ../scss/main.scss */
html body .theBox.yellow .contentBox .workBox {
  height: 100%;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  /* line 200, ../scss/main.scss */
  html body .theBox.yellow .contentBox .workBox {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1299px) {
  /* line 200, ../scss/main.scss */
  html body .theBox.yellow .contentBox .workBox {
    width: 480px;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 200, ../scss/main.scss */
  html body .theBox.yellow .contentBox .workBox {
    width: 680px;
  }
}
/* line 210, ../scss/main.scss */
html body .theBox.yellow .contentBox .workBox .workItem {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  border: 2px solid;
  background-color: #fff;
  transition: all 0.5s linear;
}
/* line 220, ../scss/main.scss */
html body .theBox.yellow .contentBox .workBox .workItem .workItemHeading {
  position: relative;
  height: 30px;
  cursor: pointer;
}
/* line 224, ../scss/main.scss */
html body .theBox.yellow .contentBox .workBox .workItem .workItemHeading.active {
  border-bottom: 2px solid;
}
/* line 226, ../scss/main.scss */
html body .theBox.yellow .contentBox .workBox .workItem .workItemBody {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
}
/* line 234, ../scss/main.scss */
html body .theBox.yellow .contentBox .workBox .workItem .workItemHeading.active ~ .workItemBody {
  height: auto;
  opacity: 1;
  visibility: visible;
}
