<!DOCTYPE html>
<html ng-app="online-resume">
<head>
<title>Title of the document</title>
<link rel="stylesheet" href="css/main.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
<script src="js/app.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">



<script src="js/app.js" type="text/javascript"></script>
</head>

<body>
  <div ng-controller="appCtrl" class="theBox base">

    <div class="smallBox btn" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"></div>

    <div class="headerBox">
      <div class="nameBox">
        <div class="name"></div>
        <div class="title"></div>
      </div>
      <div class="descriptionBox"></div>
    </div>

    <div class="contentBox">
      <div class="infoBox">
        <div class="infoItem">
          <div class="infoItemHeading" ng-model="infoItemModel1" uib-btn-checkbox>
            <div class="infoItemTitle">Skills</div>
            <div class="infoItemHandle"></div>
          </div>
          <div class="infoItemBody">
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
          </div>

        </div>
        <div class="infoItem">
          <div class="infoItemHeading" ng-model="infoItemModel2" uib-btn-checkbox >
            <div class="infoItemTitle">Education</div>
            <div class="infoItemHandle"></div>
          </div>
          <div class="infoItemBody">
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>
            <p>hello</p>

          </div>

        </div>
      </div>
      <div class="workBox">
        <div class="workItem kapsuli">
          <div class="workItemHeading" ng-model="workItemModel1" uib-btn-checkbox >
            <div class="date">2015/2016</div>
            <div class="title">Kapsuli</div>
            <div class="miniDescription">Social media tool for twitch broadcasters</div>
            <div class="workItemHandleBox">
              <div class="workItemHandle">

              </div>
            </div>
          </div>
          <div class="workItemBody">
            <p>hello</p>
            <p>hello</p>
          </div>
        </div>
        <div class="workItem blue">
          <div class="workItemHeading" ng-model="workItemModel2" uib-btn-checkbox >
            <div class="date">2015/2016</div>
            <div class="title">Kapsuli</div>
            <div class="miniDescription">Social media tool for twitch broadcasters</div>
            <div class="workItemHandleBox">
              <div class="workItemHandle">

              </div>
            </div>
          </div>
          <div class="workItemBody">
            <p>hello</p>
            <p>hello</p>
          </div>
        </div>
        <div class="workItem green">
          <div class="workItemHeading" ng-model="workItemModel2" uib-btn-checkbox >
            <div class="date">2015/2016</div>
            <div class="title">Kapsuli</div>
            <div class="miniDescription">Social media tool for twitch broadcasters</div>
            <div class="workItemHandleBox">
              <div class="workItemHandle">

              </div>
            </div>
          </div>
          <div class="workItemBody">
            <p>hello</p>
            <p>hello</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</body>

</html>
